<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
  <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="clientId" value="AW-0yw9zho31QHy59ml6FCNFpwzpNATX60XfQVxzygodDROCSdcJNt_sQJljF75vzCTPRlkgf79VSTpn" />
      <add name="clientSecret" value="EHH36lFQKINfTj8T-tg8V3dOSQC6r5jXZEamtAqaVYtKOHFnN4HFm8oN3VbrGbFBwM3c1zPXQIt88xPt" />
    </settings>
  </paypal>
  
    <appSettings>
      <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />

      <add key="webpages:Version" value="2.0.0.0" />
      <add key="webpages:Enabled" value="false" />
      <add key="PreserveLoginUrl" value="true" />
      <add key="ClientValidationEnabled" value="true" />
      <add key="UnobtrusiveJavaScriptEnabled" value="true" />
      <add key="smtpServer" value="smtp.gmail.com" />
      <add key="EnableSsl" value="true" />
      <add key="smtpPort" value="587" />
      <add key="smtpUser" value="justJET123@gmail.com" />
      <add key="smtpPass" value="wjryjmvcvjrvfhic" />
      <add key="adminEmail" value="justJET123@gmail.com" />
    </appSettings>
  
  <connectionStrings>
    <add name="JustJETConnectionString" connectionString="Data Source=(localdb)\MSSQLLocalDB; AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2">
      <assemblies>
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5.2" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISupplierA" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:54711/SupplierA.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISupplierA" contract="SvcSupplier.ISupplierA" name="BasicHttpBinding_ISupplierA" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PayPalCoreSDK" publicKeyToken="5b4afc1ccaef40fb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.7.1.0" newVersion="1.7.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
 
  <system.net>
    <mailSettings>
      <smtp from="sender@gmail.com">
        <network host="smtp.gmail.com" password="wjryjmvcvjrvfhic" port="587" userName="justJET123@gmail.com" enableSsl="true" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>